

//Home Page

.line {
	width: 100%;
	height: 20px;
}
.navbar {
	text-align: center;
	font-family: verdana;
	background: url(images/zag.png);
	background-repeat: repeat-x;
	background-position: center;
}
.navbar #topnav {
	display: inline-block;
	height: 90px;
	line-height: 90px;
	background: #fff;
}
.navbar #topnav a {
	font-size: 35px;
	color: #000;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 5px;
	font-family: "days";
}
.navbar #topnav a.active {
	border-bottom: 5px solid #000;
}

.glyphicon {
	color: #9BCD9B;
}

// img #hero {
// 	// background-image:url(http://shickimg.s3.amazonaws.com/index_mini.jpg);
// 	width:100%;
// 	max-width: 100%;
// 	height:620px;
// 	background-size: cover;
// }

// .back {
// 	background-image:url(http://shickimg.s3.amazonaws.com/backs_mini.jpg);
// 	width:100%;
// 	height:620px;
// 	background-size: cover;
// 	background-attachment: fixed;
// }

// .kiss {
// 	background-image:url(http://shickimg.s3.amazonaws.com/kiss_mini.jpg);
// 	width:100%;
// 	height:620px;
// 	background-size: cover;
// 	background-attachment: fixed;
// }

// .vine {
// 	background-image:url(http://shickimg.s3.amazonaws.com/vine_mini.jpg);
// 	width:100%;
// 	height:620px;
// 	background-size: cover;
// 	background-attachment: fixed;
// }
// .bike {
// 	background-image:url(http://shickimg.s3.amazonaws.com/bike_mini.jpg);
// 	width:100%;
// 	height:620px;
// 	background-size: cover;
// 	background-attachment: fixed;
// }

// .circle {
// 	background-image:url(http://shickimg.s3.amazonaws.com/circle_mini.jpg);
// 	width:100%;
// 	height:620px;
// 	background-size: cover;
// 	background-attachment: fixed;
// }

.footer {
	background-image:url(http://shickimg.s3.amazonaws.com/footer_edited-1_mini.jpg);
	width: 100%;
	height: 105px;
	background-size: cover;
}

.profile {
	max-height: 450px;
	border: 10px;
	border-color: #F2C19D;
}

.opening {
	text-align: center;
}

#made {
	text-align: center;
}

.form-control {
	width: 100px;
}

h2 {
	font-family: "days";
	text-align: center;
	font-size: 30px;
}

.container {
	text-align: center;
}

h1 {
	font-family: "sweetly";
	font-size: 80px;
	text-align:center;
}

.barn {
	vertical-align: middle;
}

.logo {
	width: 110px;
	height: 80px;
	vertical-align: middle;

}

hr{
width: 940px;
height: auto;
margin: 10 10px;
vertical-align: middle;
}

#myModalLabel {
	font-family: "sweetly";
	font-size: 40px;
	text-align: center;

}
.modal-body {
	font-family: "days";
	font-size: 30px;
}

.btn-rsvp {

  height: 100px;
  width: 200px;
  position: absolute; 
  left: 50px;
  top: 50px;
  right: 0;
  margin: 10 auto;
  border: none;
  font-family: "sweetly";
  font-size: 50px;
  display: inline-block;
  background: #9BCD9B;
  z-index: 5;

  &:hover {
	  
	  background: #E6B98C;


	}
}

.btn-default {
	height: 50px;
  width: 150px;
  margin: 10 auto;
  border: none;
  font-family: "sweetly";
  font-size: 26px;
  background: #9BCD9B;
  
}
#target {
	// width: 300px;
	height: 300px;
	// float: left;
}

#bay{
    // display: block;
    margin: 0 auto;
    // clear: right;

}

#marriott {
	width: 400px;
	height: 150px;
}

// #bay { display: inline-block;}


// text-align: center;}
// div img #target{ display: block;float: right;margin-right: 5px;}

